<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Iron Spirits</title>
  </head>
  <body>
      <nav>
          <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="/about">About</a>
              </li>
              <li>
                  <a href="/contact">Contact</a>
              </li>
          </ul>
      </nav>
    <h1>This is the HOME of the FROGS page :)</h1>
    <p>We are frogs
        frogs 
        frogs
        froggy frogs
    </p>
    <p> FROOOOGS</p>
<P>FROGS!

</P>
    <img src="./images/frogs2.PNG" alt="we are frogs" />
  </body>
</html>